html,
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fef2f2;
}

h1,
h2,
h3 {
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  border-radius: 5px;
}

/* Title Icon */
h1 {
  text-align: center;
  font-size: 32px;
  background-color: #eebcc2;
  box-shadow: 10px 5px 5px #b18388;
  color: black;
  display: inline-block;
  padding: 10px 30px;
  /* margin: 10px; */
}
h2,
h3 {
  background-color: #e4c2c1;

  padding: 8px 8px;
}

/* Top Header  */
h4 {
  background-color: #e4c2c1;
  padding: 20px 20px;
  margin: 0;
  border: 0;
  color: black;
  text-align: right;
}

p,
ul,
ol {
  padding: 8px 8px;
  margin: 32px 32px;
}

li {
  padding: 4px 4px;
  margin: 0px 16px;
}

.center {
  /* box-shadow: 10px 5px 5px rgb(111, 111, 111); */
  box-shadow: 10px 5px 5px #e4c2c1;
  /* border: 2px solid gray; */
  /* display: inline-block; */
  text-align: center;
  width: 256px;
  margin: 20px 20px;
  height: 320px;
  border-radius: 25px;
}

.fig {
  display: inline-block;
}

a {
  font-weight: bold;
  font-size: x-large;
  font-family: "Lucida Console", "Courier New", monospace;
}

.title {
  text-align: center;
}

.img {
  text-align: center;
  width: auto;
  margin: 0 auto;
}

.images {
  box-shadow: 10px 5px 5px rgb(111, 111, 111);
  /* border: 2px solid gray; */
  /* display: inline-block; */
  width: auto;
  margin: 20px 20px;
  height: 320px;
  border-radius: 25px;
}
